@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper-pagination-bullet {
  width: 1rem !important;
  height: 1rem !important;
  background-color: #ffffff !important;
  border-width: 2px !important;
  opacity: 0.8 !important;
}

.swiper-pagination-bullet-active {
  background-color: #464749 !important;
  border-width: 0px !important;
  opacity: 1 !important;
}
